<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4 mb-2">About this Angular App</h1>
        <p class="lead fw-bolder ">This is an Angular Todo-List-App which shows the list of Todos which are yet to complete and have completed</p>
        <hr class="my-4 ">
        <p class=" fw-bolder ">This App will help persons remember their todo tasks and manage them accordingly </p>
    </div>
    <img src="assets/app icon.svg" class="img-fluid" alt="Angular Todo List App">
</div>